<section class='banner'>
  <h1 class='banner__section-title'>
    {{ bannerTextFirst -}}
    <span class='banner__section-brand'>{{ bannerBrand }}</span>{{ bannerTextSecond }}
  </h1>
  <p class='banner__section-description'>{{ bannerDescription }}</p>

  {% include 'partials/ui/banner-stats.twig' %}

  {% from 'partials/ui/banner-button.twig'import button %}
  {{ Walletbutton('Wallet-button', 'Connect wallet', 'primary') }}
  {{ Whitelistbutton('Whitelist-button', 'Whitelist now', 'secondary') }}
</section>
