<section class='blog'>
  {% for article in blogArticles %}
    <article class='blog-article'>
      {% for figure in article.figures %}
        <figure class='blog-article__figure'>
          <img class='blog-article__image' src='{{ figure.src }}' alt='{{ figure.alt }}'>
          <figcaption class='blog-article__caption'>{{ figure.caption }}</figcaption>
        </figure>
      {% endfor %}

      <h2 class='blog-article__title'>{{ article.title }}</h2>
      <p class='blog-article__label'>{{ article.label }}</p>

      <img class='blog-article__author-icon' src='{{ article.author.icon.src }}' alt='{{ article.author.icon.alt }}'>
      <address class='blog-article__author-info'>
        <p class='blog-article__author'>{{ article.author.name }}</p>
        <img class='blog-article__date-icon' src='{{ article.date.icon.src }}' alt='{{ article.date.icon.alt }}'>
        <time class='blog-article__time' datetime='{{ article.date.datetime }}'>{{ article.date.text }}</time>
      </address>

      <p class='blog-article__text'>{{ article.text }}</p>

      <ul class='blog-article__bullet-list'>
        {% for bullet in article.bulletList %}
          <li class='blog-article__bullet-item'>{{ bullet }}</li>
        {% endfor %}
      </ul>

      <ul class='blog-article__list'>
        {% for item in article.itemList %}
          <li class='blog-article__item'>{{ item }}</li>
        {% endfor %}
      </ul>

      <blockquote class='blog-article__quote'>
        {{ article.quote.text }}
        <p class='blog-article__quote-value'>{{ article.quote.value }}</p>
        <p class='blog-article__quote-author'>{{ article.quote.author }}</p>
      </blockquote>

      {% for figure in article.additionalFigures %}
        <figure class='blog-article__figure'>
          <img class='blog-article__image' src='{{ figure.src }}' alt='{{ figure.alt }}'>
          <figcaption class='blog-article__caption'>{{ figure.caption }}</figcaption>
        </figure>
      {% endfor %}

      {% for section in article.subsections %}
        <h3 class='blog-article__subtitle'>{{ section.title }}</h3>
        {% for text in section.texts %}
          <p class='blog-article__subtitle-text'>{{ text }}</p>
        {% endfor %}
      {% endfor %}

      <p class='blog-article__tag-text'>{{ article.tagsLabel }}</p>
      {% if article.tags is defined %}
        <ul class='blog-article__tag-list'>
          {% for tag in article.tags %}
            <li class='blog-article__tag-item'>
              {% if tag.href is defined %}
                <a class='blog-article__tag-link' href='{{ tag.href }}'>{{ tag.label }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      <p class='blog-article__share-text'>{{ article.shareLabel }}</p>
      <ul class='blog-article__share-list'>
        {% for share in article.shares %}
          <li class='blog-article__share-item'>
            <a class='blog-article__share-link' href='{{ share.href }}'>
              <img class='blog-article__share-image' src='{{ share.icon.src }}' alt='{{ share.icon.alt }}'>
              {{ share.label }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </article>
  {% endfor %}
</section>
