<aside class='aside-blog'>
  <h2 class='aside-blog__title'>{{ aside.title }}</h2>
  <nav class='aside-blog__navigation'>
    {% if aside.categories %}
      <ul class='aside-blog__list'>
        {% for category in aside.categories %}
          <li class='aside-blog__item'>
            <a class='aside-blog__link' href='{{ category.href }}'>({{ category.text }})</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </nav>
  <h3 class='aside-blog__tags-title'>{{ aside.asideTags.title }}</h3>
  {% if aside.asideTags.tags %}
    <ul class='aside-blog__navigation'>
      {% for tags in aside.asideTags.tags %}
        <li class='aside-blog__tags-item'>
          <a class='aside-blog__tags-link' href='{{ tags.href }}'>{{ tags.label }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</aside>
