<section class='blog'>
  <article class='blog-article'>
    <figure class='blog-article__figure'>
      <picture>
        <source srcset='{{ blogArticles.figure.src }}' type='image/webp'>
        <img class='blog-article__image' src='{{ blogArticles.figure.src }}' alt='{{ blogArticles.figure.alt }}'>
      </picture>
      <figcaption class='blog-article__caption'>{{ blogArticles.figure.caption }}</figcaption>
    </figure>

    <h2 class='blog-article__title'>{{ blogArticles.title }}</h2>
    <p class='blog-article__label'>{{ blogArticles.label }}</p>

    <img class='blog-article__author-icon' src='{{  }}' alt='{{ blogArticles.author.icon.alt }}'>
    <address class='blog-article__author-info'>
      <p class='blog-article__author'>{{ blogArticles.author.name }}</p>
      <img class='blog-article__date-icon' src='{{  }}' alt='{{ blogArticles.date.icon.alt }}'>
      <time class='blog-article__time' datetime='{{ blogArticles.date.datetime }}'>{{ blogArticles.date.text }}</time>
    </address>

    <p class='blog-article__text'>{{ blogArticles.text }}</p>

    <ul class='blog-article__bullet-list'>
      {% for bullet in blogArticles.bulletList %}
        <li class='blog-article__bullet-item'>{{ bullet }}</li>
      {% endfor %}
    </ul>

    <ul class='blog-article__list'>
      {% for item in blogArticles.itemList %}
        <li class='blog-article__item'>{{ item }}</li>
      {% endfor %}
    </ul>

    <blockquote class='blog-article__quote'>
      {{ blogArticles.quote.text }}
      <p class='blog-article__quote-value'>{{ blogArticles.quote.value }}</p>
      <p class='blog-article__quote-author'>{{ blogArticles.quote.author }}</p>
    </blockquote>

    {% for figure in blogArticles.additionalFigures %}
      <figure class='blog-article__figure'>
        <picture>
          <source srcset='{{ figure.src }}' type='image/webp'>
          <img src='{{ figure.src }}' alt='{{ figure.alt }}'>
        </picture>
        <figcaption class='blog-article__caption'>{{ figure.caption }}</figcaption>
      </figure>
    {% endfor %}

    <h3 class='blog-article__subtitle'>{{ blogArticles.subtitles.upperTitle }}</h3>
    <p class='blog-article__subtitle-text'>{{ blogArticles.subtitles.upperText }}</p>
    <p class='blog-article__subtitle-text'>{{ blogArticles.subtitles.text }}</p>
    <h3 class='blog-article__subtitle'>{{ blogArticles.subtitles.lowerTitle }}</h3>
    <p class='blog-article__subtitle-text'>{{ blogArticles.subtitles.lowerText }}</p>

    <p class='blog-article__tag-text'>{{ blogArticles.article.label }}</p>

    <p class='blog-article__tags-title'>{{ blogArticles.article.tagsTitle }}</p>
    <ul class='blog-article__tag-list'>
      {% for tag in blogArticles.article.tags %}
        <li class='blog-article__tag-item'>
          <a class='blog-article__tag-link' href='{{ tag.href }}'>{{ tag.label }}</a>
        </li>
      {% endfor %}
    </ul>

    <p class='blog-article__share-text'>{{ blogArticles.article.sharesTitle }}</p>
    <ul class='blog-article__share-list'>
      {% for share in blogArticles.article.shares %}
        <li class='blog-article__share-item'>
          <a class='blog-article__share-link' href='{{ share.href }}'>
            <img class='blog-article__share-image' src='{{  }}' alt='{{ share.icon.alt }}'>
            {{ share.label }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </article>
</section>
