{% macro button(class,value,palette,icon,alt,text) %}
<button class='button button--{{ palette }} {{ class }}' type='button' value='{{ value }}'>
  <img class='header__button-icon' src='{{ icon }}' alt='{{ alt }}'>
  <span class='header__button-text'>{{ text }}</span>
</button>
{% endmacro %}
