<section class='catalog'>
  <img class='catalog__image' src='{{ catalog_image.src }}' alt='{{ catalog_image.alt }}'>
  <h2 class='catalog__title'>{{ catalog_title }}</h2>
  <a class='catalog__link' href='{{ catalog_see_all_href }}'>See all</a>

  <div class='catalog__controls'>
    <button class='catalog__button button button--secondary' type='button'>
      <img class='catalog__button-image' src='{{ previous_arrow.src }}' alt='{{ previous_arrow.alt }}'>
    </button>
    <button class='catalog__button button button--primary' type='button'>
      <img class='catalog__button-image' src='{{ next_arrow.src }}' alt='{{ next_arrow.alt }}'>
    </button>
  </div>

  <ul class='catalog__list'>
    {% for product in catalog_products %}
      {{ product_card(product.label, product.status, product.image.src, product.image.alt, product.value, product.name) }}
    {% endfor %}
  </ul>
</section>
