<section class='catalog'>
  <img class='catalog__image' src='{{ catalog.image.src }}' alt='{{ catalog.image.alt }}'>
  <h2 class='catalog__title'>{{ catalog.title }}</h2>
  <a class='catalog__link' href='{{ catalog.seeAllHref }}'>See all</a>

  <div class='catalog__controls'>
    <button class='catalog__button button button--secondary' type='button'>
      <svg class='catalog__icon'>
        <use href="{{ catalog.controls.previousArrow.src }}"></use>
      </svg>
    </button>
    <button class='catalog__button button button--primary' type='button'>
      <svg class='catalog__icons'>
        <use href="{{ catalog.controls.nextArrow.src }}"></use>
      </svg>
    </button>
  </div>

  <ul class='catalog__list'>
    {% for product in catalog.products %}
      {% if product.section == 'homepage' %}
        {% include './product-card.twig' %}
      {% endif %}
    {% endfor %}
  </ul>
</section>
