<section class='catalog'>
  {#}<img class='catalog__image' src='{{ catalogImage.src }}' alt='{{ catalogImage.alt }}'>
  <h2 class='catalog__title'>{{ catalogTitle }}</h2>
  <a class='catalog__link' href='{{ catalogSeeAllHref }}'>See all</a>

  <div class='catalog__controls'>
    <button class='catalog__button button button--secondary' type='button'>
      <img class='catalog__button-image' src='{{ previousArrow.src }}' alt='{{ previousArrow.alt }}'>
    </button>
    <button class='catalog__button button button--primary' type='button'>
      <img class='catalog__button-image' src='{{ nextArrow.src }}' alt='{{ nextArrow.alt }}'>
    </button>
  </div>{#}

 <ul class="catalog__list">
    {% for product in catalogProducts %}
      {% include './product-card.twig' %}
    {% endfor %}
  </ul>
</section>
