<section class='contact-banner'>
  <h1 class='contact-banner__title'>{{ contactBanner.title }}</h1>
  <nav class='contact-banner__navigation'>
    <ul class='contact-banner__navigation-list'>
      {% for item in contactBanner.navigation %}
        <li class='contact-banner__navigation-item'>
          <a class='contact-banner__navigation-link' href='{{item.link }}'>{{ item.label }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</section>

<section class='contact'>
  <div class='contact-info'>
  <svg class="contact-info__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="#F5F8FB" fill-rule="evenodd" d="M12 3a7 7 0 0 0-7 7c0 2.74 1.44 4.23 3.27 5.77l.6.48c1.07.89 2.28 1.88 3.13 3.18.85-1.3 2.06-2.29 3.14-3.18l.6-.48C17.55 14.23 19 12.74 19 10a7 7 0 0 0-7-7Zm-9 7a9 9 0 0 1 18 0c0 3.68-2.06 5.69-3.98 7.3l-.6.5c-1.72 1.42-3.07 2.53-3.44 4.4a1 1 0 0 1-1.96 0c-.37-1.87-1.72-2.98-3.44-4.4l-.6-.5C5.06 15.69 3 13.68 3 10Zm9-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-4 2a4 4 0 1 1 8 0 4 4 0 0 1-8 0Z" clip-rule="evenodd"/>
  </svg>
    <h2 class='contact-info__title'>{{ contactSection.location.title }}</h2>
    <p class='contact-info__subtitle'>{{ contactSection.location.description }}</p>
  </div>

  <div class='contact-info'>
  <svg class="contact-info__img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="#F5F8FB" fill-rule="evenodd" d="M6.76 3h10.48c.8 0 1.47 0 2.01.04.56.05 1.08.15 1.57.4a4 4 0 0 1 1.74 1.74c.24.47.34.97.4 1.5A41 41 0 0 1 23 8.76v6.5c-.01.8-.01 1.46-.05 2a4.09 4.09 0 0 1-.4 1.57 4 4 0 0 1-1.74 1.74c-.49.25-1 .35-1.57.4-.54.04-1.2.04-2 .04H6.74c-.8 0-1.46 0-2-.04a4.09 4.09 0 0 1-1.57-.4 4 4 0 0 1-1.74-1.74c-.25-.49-.35-1-.4-1.57a26.7 26.7 0 0 1-.04-2v-6.5c0-.59 0-1.11.02-1.56a1 1 0 0 1 .03-.5c.05-.54.15-1.04.39-1.5a4 4 0 0 1 1.74-1.75c.49-.25 1-.35 1.57-.4.54-.04 1.2-.04 2-.04ZM3 8.92v6.28c0 .86 0 1.44.04 1.89.03.44.1.66.18.82.19.37.5.68.87.87.16.08.38.15.82.18.45.04 1.03.04 1.89.04h10.4c.86 0 1.44 0 1.89-.04.44-.03.66-.1.82-.18a2 2 0 0 0 .87-.87c.08-.16.15-.38.18-.82.04-.45.04-1.03.04-1.89V8.92l-6.6 4.61-.1.09c-.55.38-1.03.71-1.57.85a3 3 0 0 1-1.46 0 4.93 4.93 0 0 1-1.68-.94L3 8.93Zm17.92-2.38-7.66 5.36c-.73.5-.88.6-1.02.63a1 1 0 0 1-.48 0c-.14-.04-.3-.12-1.02-.63L3.08 6.54c.04-.21.09-.34.14-.45a2 2 0 0 1 .87-.87c.16-.08.38-.15.82-.18C5.36 5 5.94 5 6.8 5h10.4c.86 0 1.44 0 1.89.04.44.03.66.1.82.18.37.19.68.5.87.87.06.1.1.24.14.45Z" clip-rule="evenodd"/>
  </svg>
    <h2 class='contact-info__title'>{{ contactSection.Email.title }}</h2>
    <a class='contact-info__subtitle' href='mailto:{{ contactSection.Email.description }}'>
      {{ contactSection.Email.description }}
    </a>
  </div>

  <div class='contact-info'>
  <svg class="cotact-info__image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="#F5F8FB" fill-rule="evenodd" d="M6.9 3.66a1 1 0 0 0-.9 0c-.1.06-.24.17-.82.76l-.16.16c-.56.56-.71.72-.83.93-.14.25-.26.7-.26.99 0 .25.04.4.2.99a18.04 18.04 0 0 0 4.62 7.85 18.04 18.04 0 0 0 7.85 4.62c.58.16.74.2 1 .2.28 0 .73-.12.98-.26.21-.12.37-.27.93-.83l.16-.16c.59-.58.7-.72.76-.82a1 1 0 0 0 0-.9c-.06-.11-.17-.25-.76-.83l.7-.7-.7.7-.2-.2a4.72 4.72 0 0 0-.53-.5 1 1 0 0 0-1.1 0 4.72 4.72 0 0 0-.55.53c-.1.09-.2.2-.34.3l-.59-.81.59.8a2.04 2.04 0 0 1-2.12.14h-.03a15.6 15.6 0 0 1-7.32-7.33l-.01-.03c-.05-.1-.12-.23-.16-.4l.96-.27-.96.28a2.04 2.04 0 0 1 .3-1.73c.09-.13.2-.25.3-.34l.02-.02c.38-.39.46-.47.5-.54a1 1 0 0 0 0-1.09 4.71 4.71 0 0 0-.5-.54l-.2-.2c-.59-.58-.72-.7-.82-.75ZM5.1 1.88a3 3 0 0 1 2.7 0c.44.22.82.6 1.25 1.03l.1.1.2.19.05.06c.3.29.54.53.71.8l-.84.55.84-.55a3 3 0 0 1 0 3.27 5.27 5.27 0 0 1-.88.98 2.15 2.15 0 0 0 .05.11 13.6 13.6 0 0 0 6.39 6.39l-.43.9.43-.9.08.03.03.02.12-.11.06-.06c.28-.3.53-.54.8-.71a3 3 0 0 1 3.27 0c.26.17.51.42.8.7l.06.07-.7.7.7-.7.2.2.1.09c.43.43.8.8 1.02 1.24a3 3 0 0 1 0 2.71c-.22.43-.6.8-1.03 1.24l-.1.1-.15.16-.07.06c-.47.47-.82.83-1.3 1.1-.55.3-1.34.51-1.97.51-.56 0-.96-.12-1.48-.26l-.05-.02c-3.2-.9-6.21-2.62-8.72-5.13a20.04 20.04 0 0 1-5.15-8.77c-.14-.52-.26-.92-.26-1.48 0-.63.2-1.42.51-1.97A6.04 6.04 0 0 1 3.6 3.16L3.76 3l.1-.1c.43-.43.8-.8 1.24-1.02l.45.88-.45-.88Z" clip-rule="evenodd"/>
  </svg>
    <h2 class='contact-info__title'>{{ contactSection.Phone.title }}</h2>
    <p class='contact-info__subtitle'>{{ contactSection.Phone.description }}</p>
  </div>
</section>
<section class='contact-form'>
  <h2 class='contact-form__title'>{{ contactSection.info.title }}</h2>
  <p class='contact-form__subtitle'>{{ contactSection.info.description }}</p>

  <form
    class='contact-form__form'
    action='{{ contactSection.contactForm.action }}'
    method='{{ contactSection.contactForm.method }}'
  >
    {% for field in contactSection.contactForm.fields %}
      <div class='contact-form__group'>
        {% if field.type == 'radio' %}
          <fieldset class='contact-form__fieldset'>
            {% if field.label is defined %}
              <legend class='contact-form__label'>{{ field.label }}</legend>
            {% endif %}
            {% for option in field.options %}
              <label class='contact-form__radio-label' for='{{ field.id }}_{{ option.value }}'>
                <input
                  class='contact-form__input-radio'
                  type='radio'
                  id='{{ field.id }}_{{ option.value }}'
                  name='{{ field.name }}'
                  value='{{ option.value }}'
                  {% if loop.first %}
                    required
                  {% endif %}
                >

                {{ option.label }}
              </label>
            {% endfor %}
          </fieldset>

          {% elseif field.type == 'textarea' %}
          <label class='contact-form__label' for='{{ field.id }}'>{{ field.label }} </label>

          <textarea
            class='contact-form__input'
            id='{{ field.id }}'
            name='{{ field.name }}'
            placeholder='{{ field.placeholder }}'
            {% if field.name == 'message' %}
              required
            {% endif %}
          >
          </textarea>
          <span class='contact-form__error-message'></span>
        {% else %}
          <label class='contact-form__label' for='{{ field.id }}'>{{ field.label }}</label>
          <input
            class='contact-form__input'
            type='{{ field.type }}'
            id='{{ field.id }}'
            name='{{ field.name }}'
            placeholder='{{ field.placeholder| default('') }}'
            {% if field.name in ['first_name', 'last_name', 'email', 'phone'] %}
              required
            {% endif %}
            {% if field.type == 'email' %}
              pattern='^[^@\s]+@[^@\s]+\.[^@\s]+$'
              title='Please enter a valid email address.'
              {% elseif field.name == 'phone' %}
              pattern='^\+?[0-9\s\-]{7,15}$'
              title='Please enter a valid phone number.'
            {% endif %}
          >
          <span class='contact-form__error-message'></span>
        {% endif %}
      </div>
    {% endfor %}

    <div class='contact-form__checkbox'>
      <input
        class='contact-form__checkbox-input'
        type='checkbox'
        id='{{ contactSection.contactForm.terms.id }}'
        name='{{ contactSection.contactForm.terms.name }}'
        required
      >
      <label class='contact-form__checkbox-label' for='{{ contactSection.contactForm.terms.id }}'>
        {{ contactSection.contactForm.terms.label }}
        <a
          class='contact-form__terms-link'
          href='{{ contactSection.contactForm.terms.link.url }}'
          target='_blank'
        >
          {{ contactSection.contactForm.terms.link.text }}
        </a>
      </label>
      <span class='contact-form__error-message'></span>
    </div>

    <button class='contact-form__button button--primary' type='submit'>
      {{ contactSection.contactForm.submit.label }}
    </button>
  </form>
</section>
