<section class='contact-banner'>
  <h1 class='contact-banner__title'>{{ contactBanner.title }}</h1>
  <nav class='contact-banner__navigation'>
    <ul class='contact-banner__navigation-list'>
      {% for item in contactBanner.navigation %}
        <li class='contact-banner__navigation-item'>
          <a class='contact-banner__navigation-link' href='{{item.link }}'>{{ item.label }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</section>

<section class='contact'>
  <div class='contact-info'>
    <h2 class='contact-info__title'>{{ contactSection.location.title }}</h2>
    <p class='contact-info__subtitle'>{{ contactSection.location.description }}</p>
  </div>

  <div class='contact-info'>
    <h2 class='contact-info__title'>{{ contactSection.Email.title }}</h2>
    <a class='contact-info__subtitle' href='mailto:{{ contactSection.Email.description }}'>
      {{ contactSection.Email.description }}
    </a>
  </div>

  <div class='contact-info'>
    <h2 class='contact-info__title'>{{ contactSection.Phone.title }}</h2>
    <p class='contact-info__subtitle'>{{ contactSection.Phone.description }}</p>
  </div>
</section>
<section class='contact-form'>
  <h2 class='contact-form__title'>{{ contactSection.info.title }}</h2>
  <p class='contact-form__subtitle'>{{ contactSection.info.description }}</p>

  <form
    class='contact-form__form'
    action='{{ contactSection.contactForm.action }}'
    method='{{ contactSection.contactForm.method }}'
  >
    {% for field in contactSection.contactForm.fields %}
      <div class='contact-form__group'>
        {% if field.type == 'radio' %}
          <fieldset class='contact-form__fieldset'>
            {% if field.label is defined %}
              <legend class='contact-form__label'>{{ field.label }}</legend>
            {% endif %}
            {% for option in field.options %}
              <label class='contact-form__radio-label' for='{{ field.id }}_{{ option.value }}'>
                <input
                  class='contact-form__input-radio'
                  type='radio'
                  id='{{ field.id }}_{{ option.value }}'
                  name='{{ field.name }}'
                  value='{{ option.value }}'
                  {% if loop.first %}
                    required
                  {% endif %}
                >

                {{ option.label }}
              </label>
            {% endfor %}
          </fieldset>

          {% elseif field.type == 'textarea' %}
          <label class='contact-form__label' for='{{ field.id }}'>{{ field.label }} </label>

          <textarea
            class='contact-form__input'
            id='{{ field.id }}'
            name='{{ field.name }}'
            placeholder='{{ field.placeholder }}'
            {% if field.name == 'message' %}
              required
            {% endif %}
          >
          </textarea>
          <span class='contact-form__error-message'></span>
        {% else %}
          <label class='contact-form__label' for='{{ field.id }}'>{{ field.label }}</label>
          <input
            class='contact-form__input'
            type='{{ field.type }}'
            id='{{ field.id }}'
            name='{{ field.name }}'
            placeholder='{{ field.placeholder| default('') }}'
            {% if field.name in ['first_name', 'last_name', 'email', 'phone'] %}
              required
            {% endif %}
            {% if field.type == 'email' %}
              pattern='^[^@\s]+@[^@\s]+\.[^@\s]+$'
              title='Please enter a valid email address.'
              {% elseif field.name == 'phone' %}
              pattern='^\+?[0-9\s\-]{7,15}$'
              title='Please enter a valid phone number.'
            {% endif %}
          >
          <span class='contact-form__error-message'></span>
        {% endif %}
      </div>
    {% endfor %}

    <div class='contact-form__checkbox'>
      <input
        class='contact-form__checkbox-input'
        type='checkbox'
        id='{{ contactSection.contactForm.terms.id }}'
        name='{{ contactSection.contactForm.terms.name }}'
        required
      >
      <label class='contact-form__checkbox-label' for='{{ contactSection.contactForm.terms.id }}'>
        {{ contactSection.contactForm.terms.label }}
       <a class="contact-form__terms-link"
   href="{{ contactSection.contactForm.terms.link.url }}"
   target="_blank">
  {{ contactSection.contactForm.terms.link.text }}
</a>
      </label>
      <span class='contact-form__error-message'></span>
    </div>

    <button class='contact-form__button button--primary' type='submit'>
      {{ contactSection.contactForm.submit.label }}
    </button>
  </form>
</section>
