<footer class='footer'>
  <a class='footer__logo' href='{{ index.navigation }} '>
    <svg class='footer__logo-image'>
      <use href="{{ footer.logo_href }}"></use>
    </svg>
  </a>
  <p class='footer__description'>{{ footer.description }}</p>

  <h4 class='footer__title'>{{ footer_navigation.title }}</h4>
  <nav class='footer__navigation'>
    <ul class='footer-navigation__list'>
      {% for link in footerNavigation.links %}
        <li class='footer-navigation__list-item'>
          <a
            class='footer-navigation__list-link'
            href='{{ link.href }}'
          >
            {{- link.label -}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <div class='copyrights'>
    <p class='copyrights__text'>{{ copyright.text }}</p>
    <p class='copyrights__text'>
      {{ copyright.company }}
      {{ copyright.year }} – ALL rights reserved
    </p>
  </div>

  <ul class='footer__social-list'>
    {% for social in footerSocials %}
      <li class='footer__social-item'>
        <a class='footer__social-link' href='{{ social.url }}'>
          <svg class='footer__social-icon'>
            <use href="{{ social.icon }}"></use>
          </svg>
        </a>
      </li>
    {% endfor %}
  </ul>
</footer>
