<section class='team'>
  <h2 class='team__title'>{{ teamTitle }}</h2>
  {% if teamMembers %}
    <ul class='team__list'>
      {% for member in teamMembers %}
        <li class='team__list-item'>
          <article class='team-member'>
            <picture class='team-member__picture'>
              {% if member.image.srcWebp is defined %}
                <source srcset='{{ member.image.srcWebp }}' type='image/webp'>
              {% endif %}
              <source srcset='{{ member.image.src }}' type='image/{{ member.image.src}}'>
              <img
                class='team-member__image'
                src='{{ member.image.src }}'
                alt='{{ member.image.alt|default(member.name) }}'
                loading='lazy'
              >
            </picture>
            <h3 class='team-member__name'>{{ member.name }}</h3>
            <p class='team-member__role'>{{ member.role }}</p>

            <ul class='team-member__social-list'>
              {% for social in member.socials %}
                <li class='team-member__social-item'>
                  <a class='team-member__social-link' href='{{ social.href }}'>
                    <img class='team-member__social-image' src='{{ social.icon.src }}' alt='{{ social.icon.alt }}'>
                    {{ social.label }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </article>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</section>
