<article class='product-card'>
  {% if product.label %}
    <span class='product-card__label product-card__label{% if product.label == 'Sold out' %}--updated{% else %}--new{% endif %}'>
      {{ product.label }}
    </span>
  {% endif %}
  <picture>
    <source srcset='{{ product.image.src }}' type='image/webp'>
    <img class='product-card__image' src='{{ product.image.src }}' alt='{{ product.image.alt }}'>
  </picture>

  <h3 class='product-card__name'>{{ product.name }}</h3>
  <p class='product-card__value'>{{ product.value }}</p>
</article>
